---
layout: default
---
<div class="section">
  <div class="w-container">
    <div id="union-banner">
      <div class="container">
        <div id="union-ball"></div>
        <div class="union-text">
          <h1>Union</h1>
          <h2>a techno & house party</h2>
        </div>
      </div>
      <a class="button" href="https://so-tight.com/union">Get Tickets</a>
    </div>
  </div>
</div>
<div class="section">
  <div class="w-container">
    <div class="w-row bottom-margin-10">
      <div class="w-col w-col-6">
        <div id="hyun">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/omXRl8tfmV8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="w-col w-col-6">
        <div id="lonelyamongus">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/zOuYolttaTQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="w-container">
    <div class="w-dyn-list">
      <div class="w-dyn-items w-row">
        {% for release in site.releases reversed limit: 4 %}
          {% include release.html content=release %}
        {% endfor %}
      </div>
      <div class="w-dyn-items w-row">
        {% include ecwid_product_browser.html %}
      </div>
    </div>
  </div>
</div>
