---
layout: default
---
<div class="section">
  <div class="w-container">
    <div class="w-row bottom-margin-10">
      <div class="w-col w-col-4">
        <a class="photo-link-block" href="https://store.so-tight.com">
          <img src="assets/images/store/technotshirt.jpg">
          <div class="title">
            <h3>New T-Shirts</h3>
            <h4>Available now for a limited time.</h4>
          </div>
        </a>
      </div>
      <div class="w-col w-col-4">
        <a class="photo-link-block" href="https://www.so-tight.com/union">
          <img src="assets/images/union/union003.jpg">
          <div class="title">
            <h3>Union 003 / a techno & house party</h3>
            <h4>The full 8-hour video from our Halloween party is online. Watch now.</h4>
          </div>
        </a>
      </div>
      <div class="w-col w-col-4">
        <a class="photo-link-block" href="https://instagram.com/hyun88x">
          <img src="assets/images/releases/phasespace.jpg">
          <div class="title">
            <h3>Hyun - Phase Space</h3>
            <h4>New EP Out December 17th.</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="w-container">
    <div class="w-dyn-list">
      <div class="w-dyn-items w-row">
        {% assign releases = site.releases | sort: 'date' | reverse %}
        {% for release in releases limit:4 %}
          {% include release.html content=release %}
        {% endfor %}
      </div>
      <div class="w-dyn-items w-row">
        {% include ecwid_product_browser.html %}
      </div>
    </div>
  </div>
</div>
