---
layout: default
---
<script>
  fbq('track', 'ViewContent');
</script>
<div class="section">
  <div class="w-container">
    <div id="union-banner">
      <div class="container">
        <div id="union-ball"></div>
        <div class="union-text">
          <h2>Union</h2>
          <h3>a techno & house party</h3>
        </div>
      </div>
      <a class="button" href="#rsvp">RSVP Now</a>
    </div>
  </div>
</div>
<div class="section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-6">
        <h1>Union</h1>
        <h2>a techno & house party</h2>
        <p>presented by <a href="https://instagram.com/hyun88x">Hyun</a> & <a href="https://instagram.com/lonelyamongus">Lonely Among Us</a></p>
        <p>Union is an underground electronic music party with performances from some of NYC’s freshest techno & house DJs.</p>
        <p>The ethos of Union is unity. Our mission is to create a safe space and community for all. A zero-tolerance policy against harassment & misconduct is enforced at all Union events.</p>
        <h3>Upcoming events</h3>
        <h4>004 / Coming Soon</h4>
        <h4><s>Sessions / June 1st, 2019 / <a href="https://www.erisevolution.com">Eris</a></s></h4>
        <h4><s>Sessions / April 11th, 2019 / </s></h4>
        <h4><s>Sessions / February 28th, 2019 / <a href="https://www.erisevolution.com">Eris</a></s></h4>
        <h4><s>003 / October 31st, 2018 / Brooklyn, NY</s></h4>
      </div>
      <div class="w-col w-col-6">
	    <a name="rsvp"></a>
        <h3>RSVP to Union: Sessions for updates and announcements.</h3>
        {% include union_email_signup.html %}
      </div>
  </div>
</div>
<div class="section">
  <div class="w-container">
    <h3>Sessions / Brooklyn, NY / April 11, 2019</h3>
 	 <img src="/assets/images/union/UnionSessionsHorizontal_4_11_low.jpg">
     <p>Union: Sessions / techno & house all night
presented by
Hyun & SO TIGHT

featuring...
Lonely Among Us
Brian Thabault
Jordan Smith
Max Parkinson

Sessions is our monthly techno & house party featuring new & upcoming artists on the label.
 </p>
     <a href="https://www.facebook.com/events/2463564410537887/">Facebook</a> / <a href="https://www.residentadvisor.net/events/1240695">Resident Advisor</a>

     <br>
     <br>
     <br>
	 <h3>Sessions / Brooklyn, NY / February 28, 2019</h3>
	 <img src="/assets/images/union/UnionSessionsHorizontal_low.jpg">
    <p>Introducing Union: Sessions.</p>
    <p>Union: Sessions / fresh techno all night
presented by
Hyun, Lonely Among Us, SO TIGHT

featuring...
Komandra
Chris Azure
Vidur Grover

Sessions is our monthly techno party featuring new & upcoming DJs/artists on the label. Get a sneak peak of new tracks coming out later this year.
</p>
    <a href="https://www.facebook.com/events/392085498218020/">Facebook</a> / <a href="https://www.residentadvisor.net/events/1220125">Resident Advisor</a>

    <br>
    <br>
    <br>

    <h3>003 / Brooklyn, NY / October 31, 2018</h3>
    <p>The Halloween party.</p>
    <a href="https://www.facebook.com/events/1116466801841120/">Facebook</a> / <a href="https://www.residentadvisor.net/events/1220125">Resident Advisor</a>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/PZgz0Gq8qWE?rel=0&amp;controls=1&amp;showinfo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/659890173&color=%23251f23&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <br>
    <br>
    <br>
    <h3>002 / Brooklyn, NY / August 31, 2018</h3>
    <p>The sequel.</p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/TLwR8PwZH0I?rel=0&amp;controls=1&amp;showinfo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/aRuWDCUUHco?rel=0&amp;controls=1&amp;showinfo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/g8eB6L6C-0o?rel=0&amp;controls=1&amp;showinfo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/598053177&color=%23251f23&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <br>
    <br>
    <br>
    <h3>001 / Brooklyn, NY / July 13, 2018</h3>
    <p>The one that started it all.</p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/YQBxryC0YJc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/480358845&color=%23251f23&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      </div>
</div>
