---
layout: default
---
<script>
  fbq('track', 'ViewContent');
</script>
<div class="section">
  <div class="w-container">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/sZ3Zf_NF3fE?rel=0&amp;autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
<div class="section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-6">
        <h1>Union</h1>
        <h2>a techno & house party</h2>
        <p>presented by <a href="https://soundcloud.com/hyun88x">Hyun</a> & <a href="https://soundcloud.com/lonelyamongus">Lonely Among Us</a></p>
        <p>Union is an underground dance party with performances from some of NYC’s freshest techno & house DJs.</p>
        <p>The ethos of Union is unity. Our mission is to create a safe space and community for all. A zero-tolerance policy against harassment & misconduct is enforced at all Union events.</p>
        <h3>Upcoming events</h3>
        <h4><s>002 / August 31, 2018 / Brooklyn, NY</s></h4>
        <h4>003 / TBA</h4>
      </div>
      <div class="w-col w-col-6">
        <h3 class="padding-10">Sign up and get a FREE ticket to Union</h3>
        {% include union_email_signup.html %}
      </div>
  </div>
</div>
<div class="section">
  <div class="w-container">
    <br>
    <br>
    <br>
    <h3>002 / Brooklyn, NY / August 31, 2018</h3>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/6RakyWKF0n8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/598053177&color=%23251f23&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/aRuWDCUUHco?rel=0&amp;controls=1&amp;showinfo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/g8eB6L6C-0o?rel=0&amp;controls=1&amp;showinfo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
    <br>
    <br>
    <h3>001 / Brooklyn, NY / July 13, 2018</h3>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/YQBxryC0YJc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <div class="w-col w-col-6">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/480358845&color=%23251f23&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/480498414&color=%23251f23&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      <iframe src="http://instagram.com/p/BlObdBnnEMj/embed/" height="800px" width="100%" frameborder="0" scrolling="no"></iframe>
      <iframe src="http://instagram.com/p/BlTeoqxH6Ty/embed/" height="800px" width="100%" frameborder="0" scrolling="no"></iframe>

    </div>
    <div class="w-col w-col-6">
      <iframe src="http://instagram.com/p/BmU9FvglXkZ/embed/" height="800px" width="100%" frameborder="0" scrolling="no"></iframe>
      <iframe src="http://instagram.com/p/BlNyX9Xhpyp/embed/" height="800px" width="100%" frameborder="0" scrolling="no"></iframe>
      <iframe src="http://instagram.com/p/BlOitF-lRmD/embed/" height="800px" width="100%" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
